<!doctype html>
<html lang="en-us">
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <%= csrf_meta_tag %>
    <!--[if lte IE 8]>
          <script src="http://js.cwhcode.com/html5/"></script>
      <![endif]-->
  </head>
  <body>
    <%= yield %>
  </body>
</html>
